* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(212, 242, 253);
    margin: 0;
    padding: 20px;
}

.body-box {
    background-color: #ffffff;
}

.form-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.application-form {
    background-color: rgb(212, 242, 253);
    width: 70%;
}

h1, h2, h3 {
    color: #333;
}

label {
    
    margin-top: 10px;
}

input, select, textarea {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

input[type="radio"] {
    width:10%;
}

input[type="submit"] {
    background-color: #4c77af;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    width: 50%;
}

